/********************************
* css reset
*********************************/
html, body {
    margin: 0;
    padding: 0;
}
/********************************/

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
}

.light-background {
    background-color: rgba(250, 235, 215, .8);
    margin-bottom: 50px;
    padding-bottom: 10px;
}

br {
    height: 5%;
}

.right-align {
    position: absolute;
    right: 5%;
    margin: auto;
    padding: 10px;
}

header {
    display: inline-block;

    width: 101.5%; /* make the shadow stretch from edge to edge and position the buttons appropriatly */
    margin-left: -3%;
    margin-right: -3%;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;

    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(222, 202, 186, .9);
    box-shadow: 0 8px 6px -6px #999;
}

footer {
    width: 100%;
    height: 60px;
    background-color: rgb(222, 202, 186);
    position: relative;
    bottom: 0;
}

#background {
    background-image: url(assets/cactus.jpg);
    background-size: cover;
    height: auto;
    position: absolute;
    z-index: -1;
}

#content-background {
    background-image: url(assets/rustic-wood-lighter.jpg);
    background-size: 100% auto;
    width: 80%;
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2%;
    overflow: hidden;
}

#main {
    width: 100%;
    margin-top: 105px;
    text-align: justify;
}

#logo {
    font-family: 'Amatic SC';
    font-size: 50px;
    text-decoration: none;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
}

#logo:hover {
    color: brown;
}

#soaps {
    font-family: 'Amatic SC';
    font-size: 35px;
    text-decoration: none;
    color:black;
    padding: 10px;
}

#soaps:hover {
    color: saddlebrown;
}

#lotions {
    font-family: 'Amatic SC';
    font-size: 35px;
    text-decoration: none;
    color:black;
    padding: 10px;
}

#lotions:hover {
    color: saddlebrown;
}

#chapstick {
    font-family: 'Amatic SC';
    font-size: 35px;
    text-decoration: none;
    color:black;
    padding: 10px;
}

#chapstick:hover {
    color: saddlebrown;
}

.ghost {
  display: none;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Chelsea Market';
/*    height: 30px;*/
    margin: 0;
}

img {
    height: 100%;
    padding-left: 15px;
}

.picture {
}

.half-width {
    position: relative;
    width: 50%;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 30px;
    margin: auto;
}

.addToCart {
    background-color: rgb(222, 202, 186);
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: 'Caveat';
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid black;
    padding: 10px 25px;
    font-size: 22px;
    
    position: absolute;
    margin: 0 35%;
    margin-bottom: 50px;
    bottom: 0;
}

.addToCart:hover {
    background-color: floralwhite;
    color: brown;
    border: 2px solid brown;
}

/**********************************************
* screen sizes for Iphone 6/7
***********************************************/
@media screen and (max-width: 670px) {
    #content-background {
        margin-bottom: -5%;
    }
    
    #main {
        margin-top: 0px;
    }
    
    .right-align {
        margin-top: 30%;
        padding-right: 30%;
    }
        
    header {
        width: 10%;
        margin-top: -12%;
        padding-top: 12%;
        padding-left: 5%;
        margin-left: -5%;
        padding-right: 2%;
        box-shadow: 8px 8px 6px -6px #999;
    }
    
    span {
        padding-left: 10px;
    }
    
    #logo {
        z-index: 999;
    }
    
    .ghost {
      display: initial;
    }
    
    .iconButton {
        padding: 8px 20px;
        font-size: 15px;
        width: 90%;
    }
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: floralwhite;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 120px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: black;
        text-decoration: none;
        z-index: 2;
    }
}